exclude: 'conf.py'
# Configuring https://pre-commit.ci/ bot
ci:
    autoupdate_schedule: monthly
    skip: [mypy] # Build exceeds tier max size 250MiB
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v6.0.0
      hooks:
          - id: check-added-large-files
          - id: check-docstring-first
          - id: check-executables-have-shebangs
          - id: check-case-conflict
          - id: check-merge-conflict
          - id: check-symlinks
          - id: check-yaml
          - id: check-toml
          - id: debug-statements
          - id: end-of-file-fixer
          - id: mixed-line-ending
            args: [--fix=lf]
          - id: name-tests-test
            args: ["--pytest-test-first"]
            exclude: ^tests/fixtures/
          - id: requirements-txt-fixer
          - id: trailing-whitespace
    - repo: https://github.com/pre-commit/pygrep-hooks
      rev: v1.10.0
      hooks:
        - id: rst-backticks
        - id: rst-directive-colons
        - id: rst-inline-touching-normal
    - repo: https://github.com/astral-sh/ruff-pre-commit
      rev: v0.14.10
      hooks:
        - id: ruff
        - id: ruff-format
    - repo: https://github.com/pre-commit/mirrors-mypy
      rev: v1.19.1
      hooks:
          - id: mypy
            exclude: ^(tests|docs|examples)/
            additional_dependencies:
                - attrs
                - types-setuptools
                - pandas-stubs
                - types-attrs
                - types-PyYAML
                - types-requests
                - xarray
                - scipy-stubs
                - types-shapely
                - matplotlib
    - repo: https://github.com/mgedmin/check-manifest
      rev: "0.51"
      hooks:
          - id: check-manifest
            args: [--no-build-isolation]
            additional_dependencies: ["setuptools>=77", "wheel", "setuptools_scm[toml]>=6.2"]
    - repo: https://github.com/codespell-project/codespell
      # Configuration for codespell is in pyproject.toml
      rev: v2.4.1
      hooks:
      - id: codespell
