exclude: 'conf.py'
# Configuring https://pre-commit.ci/ bot
ci:
    autoupdate_schedule: monthly
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.5.0
      hooks:
          - id: check-added-large-files
          - id: check-docstring-first
          - id: check-executables-have-shebangs
          - id: check-case-conflict
          - id: check-merge-conflict
          - id: check-symlinks
          - id: check-yaml
          - id: check-toml
          - id: debug-statements
          - id: end-of-file-fixer
          - id: mixed-line-ending
            args: [--fix=lf]
          - id: name-tests-test
            args: ["--pytest-test-first"]
          - id: requirements-txt-fixer
          - id: trailing-whitespace
    - repo: https://github.com/pre-commit/pygrep-hooks
      rev: v1.10.0
      hooks:
        - id: rst-backticks
        - id: rst-directive-colons
        - id: rst-inline-touching-normal
    - repo: https://github.com/astral-sh/ruff-pre-commit
      rev: v0.3.4
      hooks:
        - id: ruff
        - id: ruff-format
    - repo: https://github.com/pre-commit/mirrors-mypy
      rev: v1.9.0
      hooks:
          - id: mypy
            additional_dependencies:
                - attrs
                - types-setuptools
                - pandas-stubs
                - types-attrs
                - types-PyYAML
                - types-requests
    - repo: https://github.com/mgedmin/check-manifest
      rev: "0.49"
      hooks:
          - id: check-manifest
            args: [--no-build-isolation]
            additional_dependencies: [setuptools-scm]
    - repo: https://github.com/codespell-project/codespell
      # Configuration for codespell is in pyproject.toml
      rev: v2.2.6
      hooks:
      - id: codespell
        additional_dependencies:
        # tomli dependency can be removed when we drop support for Python 3.10
        - tomli
