-e .[napari]
ablog
linkify-it-py
myst-parser
nbsphinx
networkx
pydata-sphinx-theme
setuptools-scm
sphinx
sphinx-autodoc-typehints
sphinx-design
sphinx-gallery
sphinx-notfound-page
sphinx-sitemap
tables
