name: Docs

# Generate the documentation on all merges to main, all pull requests, or by
# manual workflow dispatch. The build job can be used as a CI check that the
# docs still build successfully. The deploy job which moves the generated
# html to the gh-pages branch and triggers a GitHub pages deployment
# only runs when a tag is pushed or when the workflow is manually dispatched
# from the main branch.
on:
  push:
    branches:
      - main
    tags:
      - '*'
  pull_request:
  merge_group:
  workflow_dispatch:

jobs:

  linting:
    # scheduled workflows should not run on forks
    if: |
      (github.event_name == 'schedule' &&
      github.repository_owner == 'neuroinformatics-unit' &&
      github.ref == 'refs/heads/main') ||
      (github.event_name != 'schedule')
    runs-on: ubuntu-latest
    steps:
      - uses: neuroinformatics-unit/actions/lint@v2

  build_sphinx_docs:
    name: Build Sphinx Docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/cache@v4
        with:
          path: |
            ~/.movement/*
          key: cached-test-data-${{ runner.os }}
          restore-keys: cached-test-data
      - uses: neuroinformatics-unit/actions/build_sphinx_docs@main
        with:
          python-version: 3.12
          use-make: true
          fetch-tags: true
          use-artifactci: false
          check-links: false

  deploy_sphinx_docs:
    name: Deploy Sphinx Docs
    needs: build_sphinx_docs
    permissions:
      contents: write
    if: |
      (github.event_name == 'push' && github.ref_type == 'tag') ||
      (github.event_name == 'workflow_dispatch' && github.ref == 'refs/heads/main')
    runs-on: ubuntu-latest
    steps:
      - uses: neuroinformatics-unit/actions/deploy_sphinx_docs@main
        with:
          secret_input: ${{ secrets.GITHUB_TOKEN }}
          use-make: true
